In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('finds.csv')

In [6]:
df

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [7]:

m = len(df.columns)-1
print(m)

6

In [8]:
h = ['0'] * m
print(h)

['0', '0', '0', '0', '0', '0']

In [9]:
attr = []
for k in df.columns: 
        attr.append(k)

print(attr)

['sky', 'airtemp', 'humidity', 'wind', 'water', 'forecast', 'enjoysport']

In [10]:
target_variable = attr[-1]
print(target_variable)

enjoysport

In [11]:
attr.remove(target_variable)
print(attr)

['sky', 'airtemp', 'humidity', 'wind', 'water', 'forecast']

In [12]:
df_yes = df[df[target_variable] == "yes"]

In [13]:
df_yes

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
3  sunny    warm     high  strong  cool   change        yes

In [14]:
count = 0
for data in attr:
    if ((df_yes[data][0] == df_yes[data]).all() == True):
        h[count] = df_yes[data][0]
    else:
        h[count] = "?"
    count+=1

In [15]:
print(h)

['sunny', 'warm', '?', 'strong', '?', '?']